@{
    ViewBag.Title = "Acerca de";
}

<section class="container py-3" id="about">

    <article class="py-3">
        <h2><i class="fa fa-question-circle" aria-hidden="true"></i> Acerca de SysTree</h2>
        <hr />
        <span class="lead">Información acerca de SysTree y sus desarrolladores.</span>
    </article>

    <article class="row">
        <div class="col-md-3 d-inline-block">
            <div class="card p-0">
                <img src="~/resources/userimage.png" alt="Desarrollador" style="width:100%">
                <h2>Angilberto Caro</h2>
                <p class="title">Programador y Diseñador</p>
                <p>Instituto Tecnológico de Culiacán</p>
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button>ITC</button></p>
            </div>
        </div>

        <div class="col-md-3 d-inline-block">
            <div class="card p-0">
                <img src="~/resources/userimage.png" alt="Desarrollador" style="width:100%">
                <h2>Luis López</h2>
                <p class="title">Programador y Diseñador</p>
                <p>Instituto Tecnológico de Culiacán</p>
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button>ITC</button></p>
            </div>
        </div>

        <div class="col-md-3 d-inline-block">
            <div class="card p-0">
                <img src="~/resources/userimage.png" alt="Desarrollador" style="width:100%">
                <h2>Juan Rojas</h2>
                <p class="title">Programador y Diseñador</p>
                <p>Instituto Tecnológico de Culiacán</p>
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button>ITC</button></p>
            </div>
        </div>

        <div class="col-md-3 d-inline-block">
            <div class="card p-0">
                <img src="~/resources/userimage.png" alt="Desarrollador" style="width:100%">
                <h2>Germán Velarde</h2>
                <p class="title">Programador y Diseñador</p>
                <p>Instituto Tecnológico de Culiacán</p>
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <p><button>ITC</button></p>
            </div>
        </div>
    </article>
</section>