@{
    ViewBag.Title = "Area";
}

@if (Session["UserName"] != null)
{
    <section class="container py-3">

        <article class="py-3">
            <h2 class=" d-inline-block"><i class="fa fa-check-square-o" aria-hidden="true"></i> Area</h2>
            <hr />
        </article>


        <article class="row">
            <article class="col-md-7">
                <img src="~/resources/area.png"/>
            </article>

            <article class="col-md-5">
                <article class="w-100">
                    <article class="card">
                        <article class="card-header">Checklist</article>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                1.- Acacia de Costantinopla
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                2.- Acacia de Costantinopla
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                3.- Cerezo
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                4.- Cerezo
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                5.- Abelia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                6.- Abelia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                7.- Abelia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                8.- Romero Azul
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                9.- Romero Azul
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                10.- Romero Azul
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                11.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                12.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                13.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                14.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                15.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                16.- Agaphanto
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                17.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                18.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                19.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                20.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                21.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>

                            <li class="list-group-item">
                                22.- Hortensia
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    <span class="success"></span>
                                </label>
                            </li>
                        </ul>
                    </article>
                </article>
            </article>

        </article>

        <style>
            @@keyframes check {
                0% {
                    height: 0;
                    width: 0;
                }

                25% {
                    height: 0;
                    width: 10px;
                }

                50% {
                    height: 20px;
                    width: 10px;
                }
            }

            .checkbox {
                background-color: #fff;
                display: inline-block;
                height: 28px;
                margin: 0 .25em;
                width: 28px;
                border-radius: 4px;
                border: 1px solid #ccc;
                float: right
            }

                .checkbox span {
                    display: block;
                    height: 28px;
                    position: relative;
                    width: 28px;
                    padding: 0
                }

                    .checkbox span:after {
                        -moz-transform: scaleX(-1) rotate(135deg);
                        -ms-transform: scaleX(-1) rotate(135deg);
                        -webkit-transform: scaleX(-1) rotate(135deg);
                        transform: scaleX(-1) rotate(135deg);
                        -moz-transform-origin: left top;
                        -ms-transform-origin: left top;
                        -webkit-transform-origin: left top;
                        transform-origin: left top;
                        border-right: 4px solid #fff;
                        border-top: 4px solid #fff;
                        content: '';
                        display: block;
                        height: 20px;
                        left: 3px;
                        position: absolute;
                        top: 15px;
                        width: 10px
                    }

                    .checkbox span:hover:after {
                        border-color: #999
                    }

                .checkbox input {
                    display: none
                }

                    .checkbox input:checked + span:after {
                        -webkit-animation: check .8s;
                        -moz-animation: check .8s;
                        -o-animation: check .8s;
                        animation: check .8s;
                        border-color: #555
                    }

                    .checkbox input:checked + .default:after {
                        border-color: #444
                    }

                    .checkbox input:checked + .primary:after {
                        border-color: #2196F3
                    }

                    .checkbox input:checked + .success:after {
                        border-color: #8bc34a
                    }

                    .checkbox input:checked + .info:after {
                        border-color: #3de0f5
                    }

                    .checkbox input:checked + .warning:after {
                        border-color: #FFC107
                    }

                    .checkbox input:checked + .danger:after {
                        border-color: #f44336
                    }
        </style>
    </section>
}

else
{
    Response.Redirect("Login");
}