@{
    ViewBag.Title = "Dashboard";
    ViewBag.Username = Session["UserName"];
}

@if (Session["UserName"] != null)
{
    <section class="container py-3">

        <article class="py-3">
            <span class="float-right border rounded bg-info text-white p-1">
                Bienvenido <span class="font-weight-bold">@ViewBag.Username</span>!
            </span>
            <h2 class=" d-inline-block"><i class="fa fa-tachometer" aria-hidden="true"></i> Tablero</h2>
            <hr />
        </article>
        <article>
            <a href="~/Home/Design" class="btn btn-outline-success float-right">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva área
            </a>
        </article>

    </section>

    <section class="container">

        @if (@ViewBag.await == "0")
        {
            <span class="lead">No hay áreas verdes disponibles.</span>
        }
        else
        {
            <article class="row px-4 border rounded shadow px-2 py-4">

                <article class="col-md-2 bg-secondary pt-3 rounded">
                    <a href="~/Home/Area" class="lead text-white font-weight-bold">Área Verde 1</a>
                </article>

                <article class="row col-md-10">
                    <article class="row col-md-3 border rounded p-0 ml-5">
                        <article class="bg-warning rounded p-3">
                            <i class="fa fa-clock-o fa-2x text-white shadow rounded" aria-hidden="true"></i>
                        </article>
                        <article class="px-2">
                            <span class="lead">Pendientes</span>
                            <p class="card-text">@ViewBag.await</p>
                        </article>
                    </article>

                    <article class="row col-md-3 border rounded p-0 ml-5">
                        <article class="bg-success rounded p-3">
                            <i class="fa fa-leaf fa-2x text-white shadow rounded" aria-hidden="true"></i>
                        </article>
                        <article class="px-2">
                            <span class="lead">Plantas</span>
                            <p class="card-text">@ViewBag.await</p>
                        </article>
                    </article>

                    <article class="row col-md-3 border rounded p-0 ml-5">
                        <article class="bg-info rounded p-3">
                            <i class="fa fa-bar-chart fa-2x text-white shadow rounded" aria-hidden="true"></i>
                        </article>
                        <article class="px-2">
                            <span class="lead">Estado</span>
                            <article class="progress w-100 mt-2 border">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">75%</div>
                            </article>
                        </article>
                    </article>
                </article>

            </article>
        }

    </section>

}

else
{
    Response.Redirect("Login");
}
