
@{
    ViewBag.Title = "Diseñador";
    ViewBag.Lat = 0;
    ViewBag.Lon = 0;
}


@if (Session["UserName"] != null)
{
    <section class="container py-3">

        <article class="py-3">
            <h2 class=" d-inline-block"><i class="fa fa-tree" aria-hidden="true"></i> Diseñador</h2>
            <hr />
        </article>

        <article id="pos">
            <a onclick="showLocation()" class="btn btn-outline-info float-right">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Ver Ubicación
            </a>


            <form class="row">
                <div class="container col-md-4">
                    <div class="form-group">
                        <label class="lead">Latitud:</label>
                        <input type="text" class="form-control" placeholder="Latitud" id="latitude" disabled>
                    </div>

                    <div class="form-group">
                        <label class="lead">Longitud:</label>
                        <input type="text" class="form-control" placeholder="Longitud" id="longitude" disabled>
                    </div>
                </div>

                <div class="container col-md-8">
                    <div class="form-group">
                        <label class="lead">Nombre del Área:</label>
                        <input type="text" class="form-control" placeholder="Nombre" id="title">
                    </div>
                    <div class="form-group">
                        <label class="lead">Descripción del Área:</label>
                        <textarea class="form-control" placeholder="Descripción" rows="3" id="desc"></textarea>
                    </div>
                </div>
            </form>


        </article>

    </section>
}

else
{
    Response.Redirect("Login");
}

<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
        integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
        crossorigin=""></script>

<section id="map">
    <a onclick="getCurrentLocation()" class="btn btn-info text-light" id="locationBtn">
        <i class="fa fa-map-pin text-dark" aria-hidden="true"></i> Definir Ubicación
    </a>
    <a onclick="quitMark()" class="btn btn-info text-light" id="deleteBtn">
        <i class="fa fa-times text-dark" aria-hidden="true"></i> Quitar Ubicación
    </a>
    <a onclick="closeMap()" class="btn btn-info text-light" id="closeBtn">
        <i class="fa fa-window-close-o" aria-hidden="true"></i> Cerrar
    </a>
</section>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    /** Location **/
    #map {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100% !important;
        height: 100%;
        position: fixed;
        z-index: 1 !important;
    }

    #locationBtn {
        right: 10px;
        top: 20px;
        cursor: pointer;
        z-index: 1000;
        position: fixed;
    }

    
    #deleteBtn {
        right: 10px;
        top: 60px;
        cursor: pointer;
        z-index: 1000;
        position: fixed;
    }
    
    #closeBtn {
        right: 10px;
        top: 100px;
        cursor: pointer;
        z-index: 1000;
        position: fixed;
    }
</style>


<script>
    /** LeafLet **/
    var map, lat, lon, greenIcon;
    document.getElementById("map").style.display = "none";
    document.getElementById("deleteBtn").style.display = "none";
    
    /** Location **/
    function showLocation() {
        locations();
    }

    function quitMark() {
        document.getElementById("deleteBtn").style.display = "none";
        document.getElementById("locationBtn").style.display = "block";
        map.remove();
        document.getElementById("latitude").setAttribute("value", "");
        document.getElementById("longitude").setAttribute("value", "");
        document.getElementById("map").style.display = "none";
        locations();
    }

    function closeMap() {
        document.getElementById("map").style.display = "none";
    }

    function getCurrentLocation() {
        var title = document.getElementById("title").value;
        var desc = document.getElementById("desc").value;
        document.getElementById("locationBtn").style.display = "none";
        document.getElementById("deleteBtn").style.display = "block";
        greenIcon = L.icon({
            iconUrl: '/resources/leaf-green.png',
            shadowUrl: '/resources/leaf-shadow.png',
            iconSize: [38, 70], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 70], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        L.marker([lat, lon], { icon: greenIcon }).addTo(map).bindPopup("<b style='color:green;'>" + title + "</b><br />" + desc);
        document.getElementById("latitude").setAttribute("value", lat);
        document.getElementById("longitude").setAttribute("value", lon);
    }

    function createMap() {
        document.getElementById("map").style.display = "block";
        map = L.map('map').setView([lat, lon], 18);
        L.esri.basemapLayer('Imagery').addTo(map);
        L.esri.basemapLayer('ImageryLabels').addTo(map);

        L.circle([lat, lon], {
            color: 'indigo',
            fillColor: 'blue',
            fillOpacity: 0.3,
            radius: 40
        }).addTo(map);
    }

    function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        createMap();
    }

    function locations() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
    }

    function showError(error) {
        var message = "";
        switch (error.code) {
            case error.PERMISSION_DENIED:
                message = "The user is not authorized!"
                break;
            case error.POSITION_UNAVAILABLE:
                message = "The information is unavailable!"
                break;
            case error.TIMEOUT:
                message = "...!"
                break;
            case error.UNKNOWN_ERROR:
                mensaje = "Unknown error!";
                break;
        }
    }

</script>